body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }

  header {
    background-color: #1e90ff; /* Azul celeste */
    color: white;
    padding: 15px;
    text-align: center;
    position: relative; /* Necesario para el posicionamiento relativo */
  }

  #carrito {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    color: #083eaa;
    font-size: 2em; /* Ajuste del tamaño del ícono */
    transform: translateY(-50%); /* Centrar verticalmente */
    transition: color 0.3s, transform 0.3s;
  }

  #carrito:hover {
    color: #0f85b8;
    transform: translateY(-50%) scale(1.1);
  }

  #busqueda {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  #busqueda::placeholder {
    color: #888;
  }

  #productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .producto {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    width: 250px; /* Ancho fijo para todas las tarjetas */
    height: 350px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
  }

  .producto:hover {
    transform: scale(1.05);
  }

  .producto img {
    width: 100%;
    height: 50%; /* Ajuste del tamaño de la imagen */
    object-fit: cover;
    object-position: center; /* Alinea la imagen al centro */
  }

  .producto-info {
    padding: 10px;
    text-align: center;
    flex-grow: 1; /* Ajuste para que la información ocupe el espacio restante */
  }

  #carrito-popup {
    display: none;
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  #lista-carrito {
    list-style: none;
    padding: 0;
  }

  #lista-carrito li {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #total {
    font-weight: bold;
  }

  .eliminar-producto {
    cursor: pointer;
    color: #f00;
    margin-left: 10px;
  }

  .eliminar-producto:hover {
    text-decoration: underline;
  }